body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}
:root {
  --color: #7367f0;
  --bg-color-form: linear-gradient(160deg, #0093e9, #80d0c7);
  --bg-color-btn: linear-gradient(135deg, #97abff 10%, #123597 100%);
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: var(--color);
}
.formulario {
  height: 300px;
  background: var(--bg-color-form);
  border-radius: 30px;
}

label,
input {
  width: 200px;
  margin: 10px;
  font-weight: bold;
  font-size: 15px;
}

.inputs {
  padding-top: 50px;
  margin: 0 25px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
.btn {
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  border: solid 2px #000;
}
.btn {
  transition: all 1.5s ease-in-out;
  background-color: var(--bg-color-btn);
}
.btn:hover {
  background-color: var(--color);
}
